# 编译器、vim 等工具生成的文件
tags
cscope*
.clangd/
compile_commands.json
.idea/
cmake-build-debug/

# 中间文件
bin/
build/

# 临时生成的代码文件
libythtbbs/sectree.c
proto.h

# nju09 第三方库
nju09/html/js
nju09/html/css

# 开发过程中可以在本地链接 api-local，方便开发（不直接在 api 子模块中开发）
# ln -s /path/to/cloned/api/folder api-local
api-local

# nodejs
node_modules/
yarn-error.log

