%文件由字符串对组成, 字符串之间用TAB键分割
%分区字母分配
0	BBS 系统
1	校友聚会
2	电脑技术
3	学术科学
4	文化人文
6	体育休闲
7	知性感性
8	兄弟院校
9	第九艺术
X	信息商情
H	乡情联谊
L	同 学 录
C	俱 乐 部
%以下是导读'安排. '*'后面紧跟的是分区的字符字符串, 再后面那个串是该
%分区的各个子分区的字母, 在WWW页面上, 前一半子分区在左边, 后一半子
%分区在右边.
*	012346789XHL
%description of sections
@0	[本站]
@1	[校园]
@2	[电脑][系统]
@3	[学术]
@4	[艺术][文化][人文]
@6	[体育][休闲]
@7	[闲聊][感性]
@8	[院校]
@9	[游戏]
@X	[信息][商情]
@H	[社团][群体]
@L	[同学录]
@C	[俱乐部]
