/*
create:	flyinsea@bmy
date:	11/25/2004
email:	byron@gpbrand.com
*/
/*
说明：提供大小/颜色方案更换
filename	color	font
--------------------------
orab.css	orange	big
oras.css	orange	small
blub.css	blue	big
blus.css	blue	small
greb.css	green	big
gres.css	green	small
blab.css	black	big
blas.css	black	small

字体(功能性链接字体不变)
--------------------------
small	11px/12px
big		13px

配色方案
--------------------------
orange	#ff6600
blue	#3333aa
green	#669900
black	#000000
*/
/******************************begin:基础部分，无须修改***************************/
BODY,TD,DIV,PRE {
    font-size: 14px!important;
    font-size: 14px;
    font-family: Verdana, "Lucida Grande", Arial, Helvetica, 宋体, sans-serif;
    color: #CCC;
    line-height:180%!important;
}
BODY {
    margin: 0;
    padding: 0;
}
INPUT {
    font-family: Verdana, "Lucida Grande", Arial, Helvetica, 宋体, sans-serif;
}
/* 链接样式统一,不支持主题 */
A:link,A:visited { /* 绿色 */
    color: #0f0;
    text-decoration: none;
}
A:hover { /* 浅绿色下划线 */
    color: #0c0;
    text-decoration: underline;
}
A:active { /* 浅灰色 */
    color: #ccc;
}
#bmy {
    display: block;
    width: 160px;
    height: 60px;
	padding: 0;
	margin: 0;
    background: url(bmy0.gif) transparent no-repeat left top;
}
.hidden {
    display: none;
}
/* 盛放小箭头的区域 arrowdiv */
.arrowdiv {
    display: block;
    float: left;
    margin: 0 1px 0 4px!important;
    margin: 1 -2px 0 2px;
    padding: 0;
    background: url(bmy_arrow_white.gif) transparent no-repeat left top;
    width: 5px;
    height: 5px;
}
/* bbsfoot页面层 #footdiv */
#bbsfoot {
    height: 18px;
	font-size: 12px!important;
	line-height: 16px!important;
	vertical-align: top;
}
/* boa页面中切换显示的层 */
#layer1,#layer2,#layer3 {
    overflow: hidden;
}
/******************************end:基础部分，无须修改***************************/
/******************************begin:配色部分***************************/
/* 底层色 */
BODY,.level1 {
    background: #000;
}
/* 中层色 */
BODY.left,.level2 {
    background: #333;
}
/* 上层色 */
.level3 {
    background: #999;
}
/******************************end:配色部分***************************/
/******************************begin:定义菜单部分***************************/
/* home上方导航栏 menu */
.menu {
    border-bottom: #666 1px solid;
    padding: 0;
    display: block;
    height: 1.7em;
}
/* 当前按钮 btncurrent */
.btncurrent {
    padding: 0 5px;
    height: 1.7em;
    border: #555 1px solid;
    display: block;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
    float: left;
    color: #fff;
    background-color: #555;
    border-bottom: #333 1px solid!important;
    margin: -1px 1px 0 1px!important;
    margin: 1px 1px 0 1px;
}
/* 链接类按钮:不支持主题,灰色 btnlinkgrey */
A.btnlinkgrey:link,
A.btnlinkgrey:visited
 {
    padding: 0 5px;
    height: 1.7em;
    display: block;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
    float: left;
    margin: 0 1px 1px 0!important;
    margin: 1px 1px 0 0;
    color: #0f0;
    background-color: #666;
}
A.btnlinkgrey:hover,
A.btnlinkgrey:active {
    background-color: #000;
    text-decoration:none;
}
/* 功能类按钮,不支持主题 btnfunc */
A.btnfunc:link,
A.btnfunc:visited {
    padding: 0 5px;
    height: 1.7em;
    display: block;
    float: left;
    margin: 0 1px 1px 0!important;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
    margin: 1px 1px 0 0;
    color: #ccc;
    background: tranparent;
}
A.btnfunc:hover,
A.btnfunc:active {
    background: #000;
    text-decoration:none;
}
/* 链接类按钮:支持主题 btnlinktheme */
A.btnlinktheme:link,
A.btnlinktheme:visited {
    padding: 2px 5px 0 5px;
    height: 17px!important;
    height: 18px;
    display: block;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
    float: left;
    margin: 0 1px 1px 0!important;
    margin: 1px 1px 0 0;
    color: #fff;
    background-color: #000;
}
A.btnlinktheme:hover,
A.btnlinktheme:active {
    background-color: #aaa;
    text-decoration:none;
}
/* 提交类按钮:支持主题 btnsubmittheme */
A.btnsubmittheme:link,
A.btnsubmittheme:visited {
    padding: 0 5px;
    margin: 0 2px 0 0;
    border: #090 1px solid;
    display: block;
    float: left;
    color: #0f0;
    height: 1.7em;
    background-color: #000;
    text-decoration: none;
}
A.btnsubmittheme:hover,
A.btnsubmittheme:active {
    border: #0f0 1px solid;
    color: #090;
}
/******************************end:定义菜单部分***************************/
/******************************begin:辅助部分****************************/
/* 首页链接:不支持主题 linkindex */
A.linkindex:link,
A.linkindex:visited {
    color: #aaa;
    text-decoration:none;
}
A.linkindex:hover,
A.linkindex:active  {
    color: #000;
    text-decoration:none;
}

/* 导读页版面链接:支持主题 linkboardtheme */
A.linkboardtheme:link,
A.linkboardtheme:visited {
    padding: 3px;
    display: block;
    float: left;
    margin: 0;
    color: #fff;
    background-color: #000;
    border-width: 0 1px 0 1px;
    border-color: #ccc;
    border-style: solid;
}
A.linkboardtheme:hover,
A.linkboardtheme:active {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
/* 辅助性链接:如日期/版面等,小字体,支持主题 linkdatetheme */
A.linkdatetheme:link,
A.linkdatetheme:visited {
    color: #aaa;
    font-size: 9px;
    text-decoration:none;
}
A.linkdatetheme:hover,
A.linkdatetheme:active {
    color: #666;
    text-decoration:underline;
}
/* bbsfoot页面上小字体链接,支持主题 smalllink */
A.smalllink:link,
A.smalllink:visited {
    color: #0c0;
    font-size: 10px;
    text-decoration:none;
}
A.smalllink:hover,
A.smalllink:active {
    color: #999;
    text-decoration:underline;
}
/* bbsfoot页面上小字体,支持主题 smalltext */
.smalltext {
    font-size: 10px;
    color: #999;
}
/* 主题色字体 themetext */
.themetext {
    color: #0f0;
}
/* bbsleft页面菜单链接,不支持主题 linkleft */
A.linkleft:link,
A.linkleft:visited {
    color: #ccc;
    text-decoration:none;
    line-height: 18px;
}
A.linkleft:hover,
A.linkleft:active {
    color: #999;
    text-decoration:underline;
}
/* 阅读文章页面表格题头链接,不支持主题 linkwhite */
A.linkwhite:link,
A.linkwhite:visited {
    color: #fff;
    text-decoration:underline;
}
A.linkwhite:hover,
A.linkwhite:active {
    text-decoration:none;
}
/* go top 链接,支持主题 toptheme */
A.toptheme:link,
A.toptheme:visited {
    color: #0f0;
    font-size: 10px;
    line-height: 20px;
}
A.toptheme:hover,
A.toptheme:active {
    color: #999;
}
/* go top 链接,不支持主题 topgrey */
A.topgrey:link,
A.topgrey:visited {
    color: #aaa;
    font-size: 10px;
    line-height: 20px;
}
A.topgrey:hover,
A.topgrey:active {
    color: #999;
}
/* 区链接:大字体,支持主题 linkbigtheme */
A.linkbigtheme:link,
A.linkbigtheme:visited {
    color: #333;
    font-size: 40px;
    font-family: "Arial Black", Verdana, Tahoma, 宋体;
    font-weight: normal;
    text-decoration:none;
}
A.linkbigtheme:hover,
A.linkbigtheme:active {
    color: #999;
}
/* 主题颜色链接:支持主题 linktheme */
A.linktheme:link,
A.linktheme:visited {
    color: #0f0;
    text-decoration:none;
}
A.linktheme:hover,
A.linktheme:active {
    color: #999;
    text-decoration:none;
}
/******************************end:辅助部分****************************/
/******************************begin:图形部分****************************/
/* 导读页面上区分讨论区版面灰色横线 linediv */
.linediv {
    display: block;
    margin: 1em 0 0 0;
    width: 100%;
    border-top: 1px #333 solid;
}
/* 横线一条 linehr */
.linehr {
    display: block;
    margin: 1em 0;
    width: 100%;
    border-top: 1px #333 solid;
}
/* 导读页面上表格题头边框,支持主题 bordertheme */
.bordertheme {
    border: 1px solid #333;
}
/* 导读页面上表格题头边框,不支持主题 bordergrey */
.bordergrey {
    border: 1px solid #333;
}
/* 导读页面上灰色表格边框 bordergrey */
.bordergrey2 {
    border-left: 1px solid #555;
}
/* 全部展开页面表格题头,背景色为主题色,支持主题 tdtitletheme */
.tdtitletheme {
    color: #fff;
    background: #333;
}
/* 全部展开页面表格题头,背景色为灰色,不支持主题 tdtitlegrey */
.tdtitlegrey {
    color: #fff;
    background: #aaa;
}
/* 表格题头行辅助线,支持主题 tdtitle */
.tdtitle {
    color: #fff;
    border-bottom: #666 1px solid;
    height: 30px;
}
/* 表格内容行辅助线,不支持主题 tdborder */
.tdborder {
    border-bottom: 1px solid #666;
}

tr.d0 td{
	background-color: #333;
}
.doctop td{
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
	background: #333;
	font-weight: bolder;
}
.doctopword{
	/*	font-weight: bolder;*/
}
/* 表格作者列边框,不支持主题 tduser */
.tduser {
    color: #fff;
    padding: 4px;
    border: #666 1px solid;
    border-top: 0;
}

/******************************end:图形部分****************************/
/******************************begin:表单部分****************************/
/* 短提交按钮:支持主题 sumbitshort */
.sumbitshort {
    color: #fff;
    background-color: #000;
    margin: 0;
    height: 18px;
    border: 0 solid;
    font-size: 12px;
    width: 38px;
    text-align: left;
    vertical-align: middle;
    padding-left: 6px;
}
/* 长提交按钮:支持主题 sumbitlong */
.sumbitlong {
    color: #000;
    margin: 0;
    font-size: 12px;
    background-color: #fff;
    height: 18px;
    vertical-align: middle;
    border: 1px solid #fff;
}
/* 短重置按钮:支持主题 resetshort */
.resetshort {
    color: #000;
    background-color: #fff;
    margin: 0;
    font-size: 12px;
    height: 18px;
    border: 1px solid #000;
    width: 38px;
    text-align: left;
    vertical-align: middle;
    padding-left: 6px;
}
/* 长重置按钮:支持主题 resetlong */
.resetlong {
    color: #fff;
    background-color: #000;
    margin: 0;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    border: 1px solid #000;
}
/* 灰色提交按钮:不支持主题 sumbitgrey */
.sumbitgrey {
    color: #fff;
    background-color: #aaa;
    margin: 0;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    border: 1px solid #aaa;
}
/* 用户名输入框:不支持主题 inputuser */
.inputuser {
    font-family: Verdana, "Lucida Grande", Arial, Helvetica, 宋体, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #111;
    background-image: url(input_idbg.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff!important;
    background-color: #CCC;
    margin: 0 0 1px 0!important;
    margin: 0;
    height: 18px;
    border: 1px solid #999!important;
    border: 0;
    width: 80px;
    vertical-align: middle;
    padding: 3px 0 3px 4px;
}
/* 密码输入框:不支持主题 inputpwd */
.inputpwd {
    font-family: Verdana, "Lucida Grande", Arial, Helvetica, 宋体, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #111;
    background-image: url(input_pwdbg.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #fff!important;
    background-color: #CCC;
    margin: 0 0 1px 0!important;
    margin: 0;
    height: 18px;
    border: 1px solid #999!important;
    border: 0;
    width: 80px;
    vertical-align: middle;
    padding: 3px 0 3px 4px;
}
/* 控制台输入框:不支持主题 inputconsole */
.inputconsole {
    font-family: Verdana, "Lucida Grande", Arial, Helvetica, 宋体, sans-serif;
    font-size: 10px;
    color: #111;
    text-decoration: none;
    background-image: url(input_conbg.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #CCCCCC;
    margin-top: 0;
    margin-left: 0;
    height: 20px;
    border: 0 solid;
    width: 110px;
    text-align: left;
    text-indent: 0pt;
    vertical-align: middle;
    padding-top: 3px;
    padding-left: 45px;
}
/******************************end:表单部分****************************/
/******************************start:特殊字体**************************/
.warn{
	color:red
}
.c30{color:#cccccc;} 
.c31{color:#e00000;} 
.c32{color:#008000;} 
.c33{color:#808000;} 
.c34{color:#0000ff;} 
.c35{color:#d000d0;} 
.c36{color:#33a0a0;} 
.c37{color:#333333;} 
.b40{background-color:#000000;} 
.b41{background-color:#e00000;} 
.b42{background-color:#008000;} 
.b43{background-color:#808000;} 
.b44{background-color:#0000ff;} 
.b45{background-color:#d000d0;} 
.b46{background-color:#33a0a0;} 
.b47{background-color:#f0f0f0;} 
.h30{color:#666666;} 
.h31{color:#ff0000;} 
.h32{color:#00c957;} 
.h33{color:#ffd700;} 
.h34{color:#0000ff;} 
.h35{color:#ff00ff;} 
.h36{color:#40e0d0;} 
.h37{color:#000000;}
.con_sig{font-family: Consolas, Monaco, "Courier New", Courier, monospace, "Lucida Console"; line-height: normal !important;}

