mjx-container {
	font-size: 120%
}

.article img {
	max-width: 100%
}

.article blockquote {
	padding: 0.5rem 1rem;
	border-left: 5px solid var(--bs-bmy-grey2);
	color: var(--bs-gray);
	background: var(--bs-bmy-grey1);
}

.article blockquote p {
	margin-bottom: 0.1rem;
	margin-block-end: 0.1rem;
}

.bmy-attach {
	display: flex;
}

.bmy-attach span {
	color: #444444;
	text-align: center;
}

.bmy-attach span::before {
	font-size: 3rem;
	line-height: 3rem;
	width: 60px;
	display: inline-block;
}

.bmy-attach a {
	line-height: 3rem;
	text-decoration: none;
}

.bmy-attach .powerpoint-icon { color: #d24726; }
.bmy-attach .excel-icon      { color: #217346; }
.bmy-attach .word-icon       { color: #2b579a; }
.bmy-attach .android-icon    { color: #a4c639; }
.bmy-attach .pdf-icon        { color: #F40F02; }
.bmy-attach .windows-icon    { color: #0078d7; }

