$bmybbs-ansi-color-black:   #000000;
$bmybbs-ansi-color-red:     #ff0000;
$bmybbs-ansi-color-green:   #00ff00;
$bmybbs-ansi-color-yellow:  #ffff00;
$bmybbs-ansi-color-blue:    #0000ff;
$bmybbs-ansi-color-magenta: #ff00ff;
$bmybbs-ansi-color-cyan:    #00ffff;
$bmybbs-ansi-color-grey:    #808080;
$bmybbs-ansi-color-white:   #ffffff;

$bmybbs-ansi-colors: (
	0: $bmybbs-ansi-color-black,
	1: $bmybbs-ansi-color-red,
	2: $bmybbs-ansi-color-green,
	3: $bmybbs-ansi-color-yellow,
	4: $bmybbs-ansi-color-blue,
	5: $bmybbs-ansi-color-magenta,
	6: $bmybbs-ansi-color-cyan,
	7: $bmybbs-ansi-color-grey,
);

@each $num, $color in $bmybbs-ansi-colors {
	.bmybbs-ansi.bmybbs-ansi-fc#{$num} { color: $color }
	.bmybbs-ansi.bmybbs-ansi-bg#{$num} { color: $bmybbs-ansi-color-white; background-color: $color }
}

.bmybbs-ansi.bmybbs-ansi-underline { text-decoration: underline; }
.bmybbs-ansi.bmybbs-ansi-italic { font-style: italic }
@keyframes bmybbs-ansi-blinker { from { visibility: hidden; } 50% { visibility: hidden; } to { visibility: visible; } }
.bmybbs-ansi.bmybbs-ansi-blink { animation: bmybbs-ansi-blinker 4s linear infinite; }

