html {
	height: 100%;
	background: #6441a5;
}

body {
	background: transparent;
}

#form {
	text-align: center;
	position: relative;
	margin-top: 30px;
}

#form .fieldset {
	background: white;
	border: 10 none;
	border-radius: 4px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 40px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

#form .fieldset:not(:first-of-type) {
	/**/
	display: none;
	/**/
}

.fs-title {
	font-size: 18px;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-size: 13px;
	font-weight: normal;
	color: #666;
	margin-bottom: 20px;
}

/**** override ****/
.btn-outline-secondary {
	border-color: #6441a5;
}

.btn-outline-secondary:hover {
	border-color: #6441a5;
	background-color: #6441a5;
}

.btn-secondary {
	border-color: #6441a5;
	background-color: #6441a5;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
	border-color: #6441a5ba !important;
	background-color: #6441a5ba !important;
}

/*** loading animation ***/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.anim-hidden { display: none; }
.anim-show {
	padding-left: 50%;
	padding-top: 25%;
	z-index: 9999;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .85);
}
/*** loading animation ***/

